<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/tasks">TaskMaster</a>
    <a href="/logout" class="btn btn-outline-light btn-sm">Logout</a>
  </div>
</nav>